.Main {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #61dafb;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* My additions */

.Main-title {
  font-family: 'Potta One', cursive;
}

.Table-body {
  background-color: white;
}

.Table-cell {
  height: 40px;
  width: 40px;
}

.Table-cell-bold-right {
  border-right:5px solid #282c34;
}

.Table-cell-bold-bottom {
  border-bottom:5px solid #282c34;
}

.Cell-input {
  width: 100%;
  height: 100%;
  color: black;
}

.Cell-immutable {
  font-weight: bold;
}

.Cell-clicked {
  background-color: #9d0191;
}

.Options {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
}

.Num-btn {
  font-family: 'Potta One', cursive;
  margin: 0 5px;
  background-color: #64dfdf;
  border: 0;
}

.Num-btn:hover {
  background-color: #6930c3;
  color: white;
}
